<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/lib/bulma.min.css' />

    <script src="/lib/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
  <nav class="navbar is-white " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
     <a class="navbar-item" href="/">
        <img src="/images/logo_ingex.jpg" width="112" height="28">  
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/" class="button is-primary">
            <strong>Snap & Send</strong>
          </a>
        </div>
      </div>
    </div>
  </nav>