<%- include('layouts/header.ejs'); %>

<div class="container">

    <div class="field">
    <div class="control">
        <input class="input is-primary" type="text" id="namePrj" placeholder="Project name">
    </div>
    <button class="button is-primary" id="submitProject"> Ajouter</button>
    </div>

<% if (projects) { %>

    <table class="table">
        <thead>
            <tr>
                <th><abbr title="Position">Nom du projet</abbr></th>
                <th><abbr title="Played">Export Docx</abbr></th>
                <!--<th><abbr title="Played">Actions</abbr></th>-->
            </tr>
        </thead>
        <tbody>
        <% projects.forEach(function(project){ %>
            <tr>
                    <td><%= project.name %></td>
                    <td>
                        <button class="button is-link" data-project-domaine="equipement" data-project-id="<%= project.id %>"
                                data-project-name="<%= project.name %>"
                                type="button">
                        Équipements Techniques</button>
                        <button class="button is-link" data-project-id="<%= project.id %>"
                                data-project-name="<%= project.name %>"  data-project-domaine="clos"
                                type="button">
                        Clos et Couvert</button>
                    </td>
                    <!-- <td> <button type="button" name="button is-primary">Modifer le project</button></td> -->
            </tr>

        <% }) %>

        </tbody>
    </table>
<% } %>

</div>
