body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.hide{display: none}

.container{padding: 15px}
input{margin-bottom: 15}
#submitProject{margin-top: 15px; margin-bottom: 15px}
.field{    max-width: 450px;}
/**
export styles
**/
#exportHTML > p {
  color: gray;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

#exportHTML table {
  border: 1px solid grey;
  margin: 40px 0;
}

#exportHTML table tr td {
  border-bottom: 1px solid grey;
  border-spacing: 0;
  padding: 5px 10px;
  line-height: 18px;
}


#exportHTML tbody {
  border-spacing: 0;
}

#exportHTML table tr:first-child td:first-child {
  background: #bbb7b7;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  color: #0e8dc1;
}
#exportHTML table tr:nth-child(2) td{
  padding: 10px;
}
#exportHTML td {
  border-right: 1px solid grey;
  text-align: left;
}
#exportHTML table tr:nth-child(3) td,#exportHTML table tr:nth-child(10) td,#exportHTML table tr:nth-child(13) td {
  background: #bbb7b6;
  text-align: center;
}
#exportHTML tr:last-child td {
  text-align: center;
}

#exportHTML table ol{padding: 0 18px}
#exportHTML table ol li strong { background: yellow}

